body {
    background-color: #F9FAFE;
}

input {
    height: 35px;
    width: 200px;
}

button {
    height: 35px;
    width: 100px;
    color: white;
    background-color: #5771CD;
    border: none;
    margin-top: 30px;
}

.add-product{
    background-color: white;
    padding: 0px 30px 30px 30px;
    width: 200px;
    height: 100%;
    justify-content: center;
    border: 1px solid #EDEDED;
}

.title {
    font-size: 12px;
    font-family: 'lato';
    font-weight: 800;
    padding: 20px 0px 0px 0px;
}

.disabled {
    opacity: .3;
}